
body {
    margin: 0;
    line-height: normal;
    background-image: url(img/Wireframebg.png);
}  

.logo-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px 0px 0px 50px;
    background-color: rgba(122, 167, 82, 0.5);
    width: 519px;
    height: 516px;
}
.logo-child02{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 519px;
    height: 516px;
}
.bem-vindo {
    position: relative;
    
    line-height: 130%;
    display: inline-block;
    width: 222.6px;
    height: 44px;
}
.clip-path-group {
    position: absolute;
    height: 46.82%;
    width: 44.82%;

    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logo {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 519px;
    height: 516px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background-color: rgba(122, 167, 82, 0.5);
    width: 611px;
    height: 580px;
}
.login-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 611px;
    height: 580px;
}
.login-child {
    position: absolute;
    top: 2px;
    left: 8px;
    border-radius: 208px;
    background-color: #1e2126;
    width: 601px;
    height: 576px;
}
.login1 {
    position: absolute;
    top: 20px;
    left: 210px;
    font-size: 59px;
    line-height: 130%;
    display: inline-block;
    width: 195px;
    height: 50px;
}
.login-item {
    position: absolute;
    top: 250px;
    left: 91px;
    border-radius: 20px;
    background-color: #becd97;
    width: 437px;
    height: 42px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
}
.email {
    position: absolute;
    top: 219px;
    left: 255px;
    font-size: 25px;
    line-height: 130%;
    display: inline-block;
    width: 111px;
    height: 19px;
}
.rectangle-div {
    position: absolute;
    top: 339px;
    left: 91px;
    border-radius: 20px;
    background-color: #becd97;
    width: 437px;
    height: 41px;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;
}
.senha {
    position: absolute;
    top: 312px;
    left: 260px;
    font-size: 25px;
    line-height: 130%;
    display: inline-block;
    width: 98px;
    height: 22px;
}

.entrar {
    position: absolute;
    top: 8.09px;
    left: 30.88px;
    line-height: 130%;
    display: inline-block;
    width: 66.5px;
    height: 20.7px;
    font-weight: bolder;
    color: white;
}

.rectangle-parent {
    position: absolute;
    top: 443.32px;
    left: 242.62px;
    width: 132.4px;
    height: 35.5px;
    cursor: pointer;
    border-radius: 41px;
    background-color: #44494f;
    border: none;
}

.rectangle-parent:hover{
    background-color: #8a8c8f;
}

.cadastrar-se {
    position: absolute;
    top: 10.09px;
    left: 14.72px;
    line-height: 130%;
    display: inline-block;
    width: 125px;
    height: 25.5px;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}
.rectangle-group {
    position: absolute;
    top: 505.34px;
    left: 231px;
    width: 155px;
    height: 35.5px;
    border-radius: 41px;
    border: none;
    cursor: pointer;
    background-color: #44494f;

}

.rectangle-group:hover{
    background-color: #75797e;
}


.icon-people {
    position: absolute;
    height: 17.4%;
    width: 16.51%;
    top: 15.73%;
    right: 41.45%;
    bottom: 66.87%;
    left: 42.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.frame-child {
    width: 15px;
    position: relative;
    border: 2px solid #becd97;
    box-sizing: border-box;
    height: 15px;
    background-color:  #1e2126;
}
.lembre-me {
    position: relative;
    line-height: 130%;
}
.rectangle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.itens {
    position: absolute;
    top: 396px;
    left: 131px;
    width: 355px;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Montserrat;
}
.login {
    position: absolute;
    top: 0px;
    left: 519px;
    width: 611px;
    height: 580px;
    font-size: 16px;
}
.login-frame {
    position: absolute;
    top: 253px;
    left: 155px;
    width: 1130px;
    height: 580px;
}
.dropagricultura-logo-removebg-icon {
    width: 45px;
    position: relative;
    height: 44.5px;
    object-fit: cover;
}
.drop-logo {
    position: relative;
    line-height: 120%;
    font-weight: 800;
}
.logo2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.logo1 {
    align-self: stretch;
    width: 168px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 36px;
    font-family: Inter;
}
.link01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    font-family: Montserrat;
}
.seta-icon {
    width: 10px;
    position: relative;
    height: 6px;
}
.link02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 8px;
}
.dropdown-options {
    align-self: stretch;
    background-color: #7aa752;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}
.aplicao-no-sulco-de-plantio-wrapper {
    align-self: stretch;
    background-color: #7aa752;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin-top: -50px;
}
.frame-div {
    align-self: stretch;
    border-radius: 0px 0px 8px 8px;
    background-color: #7aa752;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin-top: -50px;
}
.dma-dropdown {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    color: #fff;
}
.dropdown {
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.navbar {
    align-self: stretch;
    width: 794px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: #7aa752;
}
.menu-icon-idle-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 100px;
    background-color: #7aa752;
    width: 32px;
    height: 4.5px;
}
.menu-icon-idle-item {
    position: absolute;
    top: 11.25px;
    left: 0px;
    border-radius: 100px;
    background-color: #7aa752;
    width: 32px;
    height: 4.5px;
}
.menu-icon-idle-inner {
    position: absolute;
    top: 22.5px;
    left: 0px;
    border-radius: 100px;
    background-color: #7aa752;
    width: 32px;
    height: 4.5px;
}
.menu-icon-idle {
    width: 32px;
    position: relative;
    height: 27px;
}
.menu-options {
    align-self: stretch;
    background-color: #becd97;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 22px;
    box-sizing: border-box;
}
.nosso-contato-wrapper {
    align-self: stretch;
    background-color: #becd97;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 22px;
    box-sizing: border-box;
    margin-top: -50px;
}
.nosso-contato-frame {
    align-self: stretch;
    border-radius: 0px 0px 0px 8px;
    background-color: #becd97;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 9px 22px;
    box-sizing: border-box;
    margin-top: -50px;
}
.menu-options-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
}
.menu1 {
    width: 37px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}
.menu {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}
.section {
    width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1e2126;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Montserrat;
}
.wireframe-login {
    width: 1440px;
    position: relative;
    background-color: #1e2126;
    height: 1270px;
    overflow: hidden;
    text-align: center;
    font-size: 39px;
    color: #fff;
    font-family: 'Fredoka One';
    margin: auto;
    
}



.section-folder-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1e2126;
    width: 1440px;
    height: 243px;
}
.clip-path-group {
    width: 130px;
    position: relative;
    height: 137px;
}
.coluna-child {
    width: 130px;
    position: relative;
    background-color: #b0e581;
    height: 3px;
    left: 40px;
}
.vector-icon {
    width: 21.9px;
    position: relative;
    height: 21.9px;
}
.vector-icon2 {
    width: 23.7px;
    position: relative;
    height: 16.7px;
}
.vector-icon4 {
    width: 24.2px;
    position: relative;
    height: 24.1px;
}
.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 80px;
}
.coluna {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 200px 0px 0px;
    box-sizing: border-box;
    gap: 5px;
}
.paginas {
    position: relative;
    font-size: 20px;
    line-height: 130%;
    color: #becd97;
    text-align: center;
}
.pagina-1 {
    width: 157px;
    position: relative;
    line-height: 130%;
    display: inline-block;
}
.coluna1 {
    align-self: stretch;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.coluna2 {
    align-self: stretch;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.section-interprise {
    position: absolute;
    top: 19px;
    left: 150px;
    width: 1140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 120px;
    box-sizing: border-box;
}
.rodape-child {
    width: 800px;
    position: relative;
    background-color: #b0e581;
    height: 3px;
}
.drop-agricultura-de {
    position: relative;
    line-height: 130%;
}
.rodape {
    position: absolute;
    top: 203px;
    left: 150px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    color: #7aa752;
}

.rectangleNew-div {
    width: 100%;
    position: relative;
    background-color: #7aa752;
    height: 8px;
}



.section-folder {
    width: 100%;
    position: relative;
    height: 243px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Montserrat;
    margin-top: 1020px;
}

.errortxt{
    color: white;
    font-size: large;
    position: absolute;
    top: 250px;
}








